@charset "utf-8";

body {
  background-color: black;
}

/* 시계 디자인 */
#clock {
  width: 100px;
  height: 100px;
  position: absolute; /* 절대 위치 지정 */
  top: 0; /* 상단에서 0px */
  left: 50%; /* 왼쪽에서 화면의 50% */
  transform: translateX(-50%); /* X축으로 -50% 이동하여 정중앙에 배치 */
  /* 추가 스타일링 */
  background-color: blue;
}
/* 테트리스 디자인 */
#tetris {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* 게임보드판 디자인 */
/* repeat(반복횟수,배열) */
#gameBoard {
  display: grid;
  grid-template-columns: repeat(
    10,
    1fr
  ); /* 10개의 열 *
  /* grid-template-rows: repeat(20, 1fr); 20개의 행 */
  gap: 1px; /* 칸 사이의 간격 */
  width: 300px; /* 게임판의 너비 */
  height: 600px; /* 게임판의 높이 */
  border: 1px solid black;
  background-color: #f0f0f0;
}

.cell {
  width: 100%; /* 각 셀은 컨테이너에 꽉 차도록 */
  height: 100%;
  background-color: black; /* 셀의 배경색 */
  border: 1px solid ivory; /* 셀의 경계선 */
}

#scoreBoard {
  margin-left: 20px;
  width: 150px;
  height: 150px;
  background-color: burlywood;
}

#startButton {
  display: block;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  align-items: center;
  background-color: green;
}

#stopButton {
  width: 50px;
  height: 50px;
  background-color: pink;
}

/* 각 블록 타입별 색상 */
.I-block {
  background-color: cyan;
}
.O-block {
  background-color: yellow;
}
.T-block {
  background-color: purple;
}
.S-block {
  background-color: green;
}
.Z-block {
  background-color: red;
}
.J-block {
  background-color: blue;
}
.L-block {
  background-color: orange;
}
